/* 
* <576:     xs
* 576-768:  sm
* 768-992:  md
* 992-1200: lg
* 1200 -1400: xl
* >= 1400:  xxl
*/

@media (max-width: 575px) {
  .tabs-header {
    height: auto;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
  .tabs-header::before {
    position: unset;
    height: auto;
  }

  .tabs-header_thumb {
    width: 24em;
    height: 16em;
    overflow: inherit;
    bottom: -22px;
    z-index: -2;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -3em;
  }
  .tabs-header_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: 100%;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    background: #23bc87;
    background: linear-gradient(
      90deg,
      rgba(35, 188, 135, 1) 0%,
      rgba(172, 229, 131, 1) 100%
    );
  }
  .tabs-header_item {
    font-size: clamp(9  px, 2.49vw, 14px);
    font-weight: 600;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .m-show {
    display: block;
  }

  /* .post--list{
        grid-template-columns: 1fr;
    }

    .post--list .post_thumb{
        border-bottom-left-radius: 0;
        border-top-right-radius: 1em;
    } */

  /* ---- post new ---- */
  .posts_new {
    grid-template-columns: 1fr;
  }
  .posts_new_info {
    flex-direction: column;
    align-items: flex-start;
  }
  .post--list {
    grid-template-columns: 1fr 2fr;
  }

  .posts_new_info_title {
    font-size: 18px;
  }
  .post_content_title_fs14,
  .post_content_title_fs20 {
    font-size: 14px;
  }
  /* ------ posts interected ------ */
  .posts_interected {
    grid-template-columns: 1fr;
  }
  .post_content_title_fs16 {
    font-size: 14px;
  }

  .posts_interected > .post:first-child {
    grid-template-columns: 1fr;
  }

  .posts_interected > .post:first-child .post_thumb {
    border-bottom-left-radius: 0;
    border-top-right-radius: 1em;
  }
  .posts_interected > .post:not(:last-child) {
    border-right: none;
  }

  /* ---- post ---- */
  .post_des {
    font-size: 12px;
  }

  /* post sub */
  .posts-sub {
    grid-template-columns: 1fr;
  }

  .posts-col4 {
    grid-template-columns: 1fr;
  }

  .posts-col4 .post_content {
    background-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .posts-col4 > .post:first-child .post_content_title_fs16 {
    font-size: 20px;
  }

  .posts-col4 > .post:not(:first-child) > .post_thumb {
    display: none;
  }

  .posts-col4 > .post:not(:last-child) {
    border-bottom: 1px solid rgba(var(--rgb-black), 0.3);
  }

  /* post list */
  .posts-list .post .post_content {
    justify-content: center;
  }
  .posts-list .post .post_des,
  .posts-list .post .post_meta {
    display: none;
  }

  .aside_banner {
    margin-left: -10px;
    margin-right: -10px;
    position: unset;
    top: auto;
  }
  .posts-sub > .aside_banner {
    order: 1;
  }

  .posts-sub > .posts-sub_contents {
    order: 2;
  }

  /* --- banner 300 x 600 cus ---- */
  .banner300x600 {
    width: 100%;
    height: auto;
    aspect-ratio: 6 / 3;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 0;
    padding-bottom: 5px;
  }
  .banner300x600::before {
    top: 13%;
    background: linear-gradient(
      260deg,
      rgba(149, 5, 5, 1) 0%,
      rgba(149, 5, 5, 0.53) 100%
    );
  }
  .banner300x600_thumb {
    width: 40%;
  }
  .banner300x600_contents {
    width: 60%;
  }
  .banner300x600_contents_title > span:last-child {
    font-size: 14px;
  }

  .banner300x600_links {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .posts_new {
    grid-template-columns: 60% auto;
  }

  .posts_new_top4 > .post--list {
    grid-template-columns: 35% auto;
  }

  .posts-col4 {
    grid-template-columns: 1fr 1fr;
  }

  .posts-list .post_content_title_fs20 {
    font-size: clamp(12px, 1.5vw, 20px);
  }

  .post--list > .post_content {
    padding: 0.5em 0.5em 0.5em 1em;
  }
  .post_content_title + .post_des {
    margin-top: 0.5em;
  }

  .post_des {
    font-size: 1.2em;
  }

  .tabs-header {
    
  }
  .tabs-header_item {
    font-size: clamp(10px, 1.05vw, 14px);
  }
}

@media only screen and (min-width: 609px) and (max-width: 991px) {
  .tabs-header_item {
    font-size: clamp(11px, 1.2vw, 14px);
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .tabs-header_list {
    display: grid;
    gap: 5px;
    width: calc(100%-25em);
    grid-template-columns: 1fr 1fr;
  }
  .tabs-header_thumb {
    width: 15em;
    height: 11em;
    position: absolute;
    bottom: -1.2em;
    left: 1.5em;
  }
}
